.container-fluid {
    background-image: url('/assets/background2.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
}

.card-body {
    padding: 40px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px; /* Increase padding */
    font-size: 1.1rem; /* Increase font size */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 15px; /* Increase padding */
    font-size: 1.1rem; /* Increase font size */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
